.about-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 15px;
  margin-bottom: 92px;
  margin-left: 15px;
}

.about-company__img {
  margin-left: -30px;
  margin-top: 5px;
}

.about-company__title {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.about-company__text {
  margin-bottom: 20px;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #666666;
}

.about-company__text-table {
  display: none;
}

.about-company__content {
  align-items: flex-start;
}

.about-company__link {
  display: inline-block;

  padding: 14px 50px 13px 50px;
  margin-top: 18px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00B2FF;
  text-decoration: none;

  border: 1px solid #00B2FF;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    color: #FFFFFF;
    background-color: #00B2FF;
  }

  &:active {
    opacity: 0.9;
  }
}

@media(max-width: $table) {
  .about-company {
    margin-right: 25px;
    margin-bottom: 71px;
    margin-left: 30px;
  }

  .about-company__img {
    width: 210px;
    height: 362px;
    margin-top: -3px;
    margin-left: -38px;
  }

  .about-company__content {
    margin-left: 10px;
  }

  .about-company__title {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 25px;
  }

  .about-company__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .about-company__text-desk {
    display: none;
  }

  .about-company__text-table {
    display: inline-block;
  }

  .about-company__link {
    margin-top: 0px;
  }
}

@media(max-width: $mobile) {
  .about-company {
    margin-right: 15px;
    margin-bottom: 67px;
    margin-left: 15px;
  }

  .about-company__content {
    margin-left: 0px;
    margin-right: 0px;
  }

  .about-company__title {
    font-size: 28px;
    line-height: 140.62%;

    margin-bottom: 20px;
  }

  .about-company__img {
    display: none;
  }

  .about-company__text {
    margin-bottom: 40px;
  }

  .about-company__link {
    margin-top: -20px;
  }
}
