.contact {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.contact__title {
  margin-top: 0px;
  margin-bottom: 28px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B2D37;
}

.contact__list {
  display: flex;
  flex-direction: column;

  padding: 0px;
  margin: 0px;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
  list-style: none;
}

.contact__button {
  display: none;
}

@media (max-width: $mobile) {
  .contact {
    position: relative;
    margin-bottom: 0px;
  }

  .contact__title {
    margin: 30px 15px 25px 15px;
  }

  .contact__list {
    margin: 5px 15px 30px 15px;
  }

  .contact__button {
    position: absolute;
    right: 17px;
    top: 29px;

    display: block;
    width: 16px;
    height: 16px;

    cursor: pointer;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0);
  }

  .opened ~ .contact__button::before {
    content: "";
    right: 0px;
    top: 8px;

    position: absolute;

    width: 16px;
    height: 1px;

    background-color: #C4C4C4;
  }

  .closed ~ .contact__button {
    &::before,
    &::after {
      content: "";
      right: 0px;
      top: 8px;

      position: absolute;

      width: 16px;
      height: 1px;

      background-color: #C4C4C4;
    }

    &::before {
      transform: rotate(90deg);
    }

    &::after {
      transform: rotate(0deg);
    }
  }

  .contact__list.closed {
    display: none;
  }

  .contact__list.opened {
    display: flex;
  }

  .contact__list.nojs {
    display: flex;
  }

  .nojs ~ .contact__button {
    display: none;
  }
}
