.feedback {
  background-color: #00B2FF;
}

.feedback__container {
  background-image: url("../img/polygon-feedback-1.png"),
                    url("../img/polygon-feedback-2.png");
  background-position: 14% -60px, 100% 30px;
  background-repeat: no-repeat;
}

.feedback__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 112px;
}

.feedback__img {
  padding-top: 105px;
}

.feedback__content {
  display: flex;
  flex-direction: column;

  width: 570px;
  margin-right: 20px;
}

.feedback__title {
  margin-bottom: 10px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.feedback__subtitle {
  margin-top: 0px;
  margin-bottom: 50px;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.feedback__pesonal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 40px;
}

.feedback__input {
  padding: 12px 18px 16px 18px;
  width: 47%;
  box-sizing: border-box;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
}

.feedback__input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.feedback__input:-moz-placeholder {
  color: #FFFFFF;
}

.feedback__input::-moz-placeholder {
  color: #FFFFFF;
}

.feedback__input:-ms-input-placeholder {
  color: #FFFFFF;
}

.feedback__textarea {
  padding: 12px 18px 16px 18px;
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  resize: none;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
}

.feedback__textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

.feedback__textarea:-moz-placeholder {
  color: #FFFFFF;
}

.feedback__textarea::-moz-placeholder {
  color: #FFFFFF;
}

.feedback__textarea:-ms-input-placeholder {
  color: #FFFFFF;
}

.feedback__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback__button {
  width: 47%;
  padding: 14px 18px;
  box-sizing: border-box;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;

  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  outline: none;
}

.feedback__description {
  position: relative;
  width: 47%;
  padding-left: 40px;
  padding-top: 10px;
  box-sizing: border-box;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

  opacity: 0.8;
}

.feedback__input--checkbox + .feedback__description::before {
  position: absolute;
  content: "";

  right: 0px;
  left: 5px;

  width: 16px;
  height: 16px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.feedback__input--checkbox:checked + .feedback__description::after {
  position: absolute;
  content: "";
  left: 9px;
  top: 15px;

  height: 6px;
  width: 9px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .feedback__container {
    background-image: none;
  }

  .feedback__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    margin-left: 10px;
  }

  .feedback__img {
    display: none;
  }
}

@media (max-width: 768px) {
  .feedback__wrapper  {
    padding-top: 0px;
  }

  .feedback__content {
    margin-right: 0px;
  }

  .feedback__title {
    font-family: $font-roboto-cond;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    color: #FFFFFF;
  }

  .feedback__subtitle {
    margin-bottom: 30px;
  }

  .feedback__pesonal {
    display: flex;
    flex-direction: column;

    margin-bottom: 0px;
  }

  .feedback__input {
    width: 100%;
    margin-bottom: 30px;
  }

  .feedback__nav {
    display: flex;
    flex-direction: column;
  }

  .feedback__button {
    width: 100%;
    box-sizing: border-box;
  }

  .feedback__description {
    width: 100%;
    box-sizing: border-box;
  }
}
