.info-company {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.info-company__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
}

.info-company__item {
  margin-left: 122px;
}

.info-company__link {
  position: relative;
  color: $font-color;
  text-decoration: none;
}

.info-company__icon {
  position: absolute;
  left: -38px;
}

.info-company__button {
  min-height: 45px;
  padding: 14px 26px;
  margin-left: 50px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $font-color;

  background: none;
  outline: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: $table) {
  .info-company__item {
    padding: 0;
    margin-left: 35px;
  }

  .info-company__icon {
    position: relative;
    left: 0;

    width: 23px;
    height: 23px;
  }

  .info-company__icon--mail {
    width: 25px;
  }

  .info-company__text {
    display: none;
  }

  .info-company__button {
    display: none;
  }
}

@media (max-width: $mobile) {
  .info-company {
    align-items: flex-start;
    margin-top: 5px;
  }

  .info-company__item {
    margin-left: 25px;
  }
}
