.logo {
  display: flex;
  flex-direction: row;
}

.logo--footer {
  margin-bottom: 50px;
}

.logo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 16px;
  width: 202px;
}

.logo__title {
  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: bold;
  color: $font-color;
  font-size: 25px;
  line-height: 29px;
}

.logo__subtitle {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  color: #788891;
  font-size: 12px;
  line-height: 14px;
}

.logo__title--footer {
  color: #203C42;
}

@media (max-width: $table) {
  .logo--footer {
    margin-bottom: 0px;
    width: 230px;
  }
}

@media (max-width: $mobile) {
  .logo--footer {
    width: 216px;

    margin-bottom: 22px;
  }

  .logo__image {
    width: 38px;
    height: 38px;
  }

  .logo__image--footer {
    width: 52px;
    height: 52px;
  }

  .logo__wrapper {
    display: none;
  }

  .logo__wrapper--footer {
    display: flex;
  }
}
