.main-nav {
  width: 570px;
  margin-right: 12%;
}

.main-nav__title {
  margin-top: 0px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #1B2D37;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 100px;

  padding: 0px;
  margin: 0px;

  list-style: none;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;

  color: #1B2D37;

  opacity: 0.5;
}

@media (max-width: 1024px) {
  .main-nav {
    margin-left: 3%;
    margin-right: 0px;
    width: 243px;
  }

  .main-nav__list {
    flex-wrap: nowrap;
    margin-right: 0px;

    min-height: 175px;

  }
}
