.page-footer__wrapper {
  margin: 0 auto;
  max-width: 1600px;
  margin-top: 65px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-footer__nav {
  display: flex;
  flex-direction: row;
}

.page-footer__media {
  margin-left: 6%;
  margin-right: 9%;
}

.page-footer__webside {
  border-top: 1px solid #626962;
  opacity: 0.2;
}

.page-footer__container {
  display: flex;
  flex-direction: row;
  margin: 14px auto;
  max-width: 1600px;
}

@media (max-width: 1024px) {
  .page-footer__wrapper {
    flex-direction: column;
    flex-grow: wrap;

    margin-top: 18px;
  }

  .page-footer__media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);;
  }

  .page-footer__nav {
    justify-content: space-between;

    margin-top: 40px;
    padding-bottom: 40px;
  }
}
