.page-main__container {
  background-image: url("../img/page-main_desktop.png");
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;

  max-width: $container;
  margin: 0 auto;
}

@media(max-width: $table) {
  .page-main__container {
    background-position: 30% 40%;
  }
}

@media(max-width: $mobile) {
  .page-main__container {
    background-position: 42.5% 106%;
  }
}
