.promo {
  position: relative;

  display: flex;
  flex-direction: row;

  margin-top: 170px;
  margin-left: 5.7%;
  margin-right: 1%;
}

.promo__content {
  margin-right: 71px;
}

.promo__title {
  margin-bottom: 30px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $font-color;
}

.promo__text {
  position: relative;

  margin-left: 95px;
  padding-bottom: 26px;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $font-color;
}

.promo__text::before {
  position: absolute;
  content: "";

  height: 2px;
  width: 66px;

  background-color: #ffffff;
  left: -90px;
  top: 18px;
}

.promo__button {
  margin-left: 95px;
  padding: 17px 45px;

  background-color: $color;
  border-radius: 5px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $font-color;
  outline: none;
}

.promo__button:hover {
  opacity: 0.9;
}

.promo__button:active {
  opacity: 0.8;
}

.promo__scrolling {
  position: absolute;
  bottom: 24px;
  left: -35px;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $font-color;
  text-decoration: none;

  opacity: 0.5;
  transform: rotate(-90deg);
}

@media (max-width: 1024px) {
  .promo {
    margin-top: 38px;
  }

  .promo__content {
    margin-right: 0px;
  }

  .promo__title {
    margin-left: 44px;
    margin-top: 75px;

    font-size: 60px;
    line-height: 70px;
  }

  .promo__text {
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 156.8%;
  }

  .promo__text::before {
    top: 14px;
    left: -48px;

    width: 33px;
  }

  .promo__img {
    margin-right: -8px;
    width: 260px;
    height: 340px;
  }

  .promo__button {
    padding: 17px 27px;
  }

  .promo__scrolling {
    display: none;
  }
}

@media (max-width: 768px) {
  .promo {
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 32px;
  }

  .promo__content {
    order: 1;
  }

  .promo__title {
    margin-top: -10%;
    margin-left: 16px;

    font-size: 40px;
    line-height: 47px;
  }

  .promo__text {
    margin-left: 67px;
    margin-right: 1%;
    margin-bottom: 40px;
    padding-bottom: 0px;

    font-size: 16px;
    line-height: 156.8%;
  }

  .promo__word {
    display: none;
  }

  .promo__img {
    order: -1;
    margin-right: 0px;

    width: 294px;
    height: 220px;
  }

  .promo__button {
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 68px;
  }

  .promo__button::before {
    position: relative;
    content: "Бесплатная консультация";
  }
}
