.services {
  background-color: #1B2D37;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: $container;
  margin: 0 auto;
}

.services__title {
  margin-top: 88px;
  margin-bottom: 52px;
  margin-left: 15px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 127px;
  box-sizing: border-box;
}

.services__link {
  position: relative;

  display: flex;

  margin-right: 30px;

  text-decoration: none;

  background-repeat: no-repeat;
  background-size: cover;
}

.services__img {
  display: flex;
  width: 100%;
}

.services__subtitle {
  position: absolute;
  top: 23px;
  left: 44px;

  width: 170px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.services__botton {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 63px;
  height: 63px;

  background-color: #00B2FF;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }
}

@media(max-width: $table) {
  .services__title {
    margin-top: 50px;
    margin-right: 130px;
    margin-left: 25px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .services__list {
    display: flex;
    flex-direction: column;

    width: 95%;
    margin-right: 3.1%;
    margin-bottom: 34px;
    margin-left: 3.1%;
  }

  .services__link {
    display: flex;

    width: 715px;
    height: 256px;
    margin-right: 0px;
    margin-bottom: 45px;
  }

  .services__img {
    width: 100%;
    height: 256px;
  }

  .services__subtitle {
    margin-top: 15px;
    margin-left: 2px;
  }

  .services__botton {
    bottom: 0;
    right: 0;
  }
}

@media(max-width: $mobile) {
  .services__title {
    width: 90%;
    margin-right: 2%;
    margin-bottom: 42px;
    margin-left: 7%;

    font-size: 28px;
    line-height: 140.62%;
  }

  .services__list {
    margin-right: 4%;
    margin-left: 4%;
  }

  .services__link {
    width: 290px;
    height: 256px;
    margin-bottom: 30px;
  }

  .services__img {
    width: 290px;
    height: 256px;
  }

  .services__subtitle {
    margin-top: -4px;
    margin-left: -12px;
  }
}
