.services {
  background-color: #1B2D37;
}

.services__wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services__title {
  margin-top: 90px;
  margin-bottom: 50px;
  margin-left: 20px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  margin-left: 20px;
  margin-bottom: 130px;
  box-sizing: border-box;
}

.services__link {
  position: relative;

  display: flex;

  width: 370px;
  height: 620px;
  margin-right: 30px;

  text-decoration: none;

  background-repeat: no-repeat;
  background-size: cover;
}

.services__link--production {
  background-image: url("../img/desktop-service-1.png");
}

.services__link--installation {
  background-image: url("../img/desktop-service-2.png");
}

.services__link--accessories {
  background-image: url("../img/desktop-service-3.png");
}

.services__subtitle {
  width: 170px;
  margin-top: 50px;
  margin-left: 43px;

  font-family: $font-roboto-cond;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.services__botton {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 63px;
  height: 63px;

  background-color: #00B2FF;
}

@media(max-width: 1024px) {
  .services__title {
    margin-top: 50px;
    margin-right: 130px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .services__list {
    display: flex;
    flex-direction: column;

    width: 95%;
  }

  .services__link {
    display: flex;

    width: 100%;
    height: 256px;
    margin-right: 0px;
    margin-bottom: 47px;
  }

  .services__link--production {
    background-image: url("../img/table-service-1.png");
  }

  .services__link--installation {
    background-image: url("../img/table-service-2.png");
  }

  .services__link--accessories {
    background-image: url("../img/table-service-3.png");
  }

  .services__subtitle {
    margin-top: 40px;
    margin-left: 45px;
  }

  .services__botton {
    bottom: 0;
    right: 0;
  }

  .services__list {
    margin-bottom: 30px;
  }
}

@media(max-width: 768px) {
  .services__title {
    width: 90%;
    margin-right: 2%;
    margin-bottom: 42px;
    margin-left: 7%;

    font-size: 28px;
    line-height: 140.62%;
  }

  .services__list {
    margin-right: 5%;
    margin-left: 5%;
  }

  .services__link {
    width: 95%;
    margin-bottom: 30px;
  }

  .services__link--production {
    background-image: url("../img/mobile-service-1.png");
  }

  .services__link--installation {
    background-image: url("../img/mobile-service-2.png");
  }

  .services__link--accessories {
    background-image: url("../img/mobile-service-3.png");
  }

  .services__subtitle {
    margin-top: 20px;
    margin-left: 30px;
  }
}
