.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 112px;

  padding: 0;
  margin: 0;

  list-style: none;
}

@media (max-width: $mobile) {
  .social {
    margin-bottom: 50px;
  }
}
