.webside-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;

  padding: 0px;
  margin: 0px;
  margin-right: 6%;

  font-family: $font-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B2D37;
  list-style: none;

}

.webside-info__link {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .webside-info {
    margin-left: 3%;
    margin-right: 3%;
  }
}
